# Frontend (Vercel)
VITE_API_URL=http://localhost:8787

# Backend (Render)
PORT=8787
CLIENT_URL=http://localhost:5173
ALLOWED_ORIGINS=http://localhost:5173
SUPABASE_URL=https://zmvkhjifsjdmsqkczsab.supabase.co
SUPABASE_SERVICE_ROLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
